body {
    margin: 0;
    padding: 0;
    background-color: #75733f;
}

.container-table {
    max-width: 50%; /* Adjust this value as needed */
    width: 100%;
    margin: auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    text-align: center;
}

.title h1 {
    font-size: 30px;
    font-weight: 700;
    color: #adae64;
}

td, th {
    border: 5px solid #b3ad60;
    text-align: center;
    padding: 10px;
    background-color: #ece7a5;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 10px solid #b3ad60;
    text-align: center;
    padding: 10px;
}

.table {
    width: 100%;
    margin-top: 40px;
    overflow-x: auto; /* Add horizontal scroll for small screens */
}

@media only screen and (max-width: 768px) {
    .container-table {
        max-width: 100%; /* Adjust this value as needed */
    }

    .title h1 {
        font-size: 24px; /* Adjust font size for smaller screens */
    }

    td, th {
        padding: 5px; /* Adjust cell padding for smaller screens */
    }
}
